<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>My Git</span>
        <span><app-search></app-search></span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">home</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">back_up</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">call_merge</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">note_add</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">send</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">cloud</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon"></mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>