table {
    margin-left: auto;
    position: absolute;
    width:100%;
    text-align: center;
    vertical-align: top;
 }
 .mat-column-repo{
     text-align: center;
 }
 .mat-column-author{
     text-align: center;
 }
 .mat-column-issues{
     text-align: center;
 }