<!-- <app-header></app-header>
<app-address-form></app-address-form> -->


<app-header></app-header>
<!--Mat table for rendering the data fetched from Api Service-->
<app-searchview></app-searchview>
<div>
    <table mat-table [dataSource] = "dataSource"> 
        <ng-container matColumnDef = "name_with_namespace">
           <th mat-header-cell *matHeaderCellDef>NAME</th>
           <td mat-cell *matCellDef = "let element"> {{element.name_with_namespace}} </td>
        </ng-container>
        <ng-container matColumnDef = "http_url_to_repo">
           <th mat-header-cell *matHeaderCellDef>REPO</th>
           <td mat-cell *matCellDef = "let element"> {{element.http_url_to_repo}} </td>
        </ng-container>
        <ng-container matColumnDef = "name">
            <th mat-header-cell *matHeaderCellDef>NAME</th>
            <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
         </ng-container>
         <ng-container matColumnDef = "description">
            <th mat-header-cell *matHeaderCellDef>DESC</th>
            <td mat-cell *matCellDef = "let element"> {{element.description}} </td>
         

        <tr mat-header-row *matHeaderRowDef = "columndefs"></tr>
        <tr mat-row *matRowDef = "let row; columns: columndefs;"></tr>
    </ng-container>
      </table>
  

</div>


<router-outlet></router-outlet>